In [1]:
import numpy as np
import pandas as pd

messages = pd.read_csv('data/disaster_messages.csv')
categories_df = pd.read_csv('data/disaster_categories.csv')

messages.head()

,id,message,original,genre
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct

In [2]:
categories_df.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

In [3]:
messages.shape, categories_df.shape

((26248, 4), (26248, 2))

In [4]:
disasters = pd.concat([messages,categories_df['categories']],join='outer',axis=1)

disasters.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

In [5]:
disasters.genre.value_counts()

news      13068
direct    10782
social     2398
Name: genre, dtype: int64

In [6]:
disasters = disasters.drop(columns=['original','id'])
disasters.head()

,message,genre,categories
0,Weather update - a cold front from Cuba that c...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,Is the Hurricane over or is it not over,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,Looking for someone but no name,direct,related-1;request-0;offer-0;aid_related-0;medi...
3,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,"says: west side of Haiti, rest of the country ...",direct,related-1;request-0;offer-0;aid_related-0;medi...

In [7]:
disasters_df = disasters.categories.str.get_dummies(';')

disasters_df.head()

,aid_centers-0,aid_centers-1,aid_related-0,aid_related-1,buildings-0,buildings-1,child_alone-0,clothing-0,clothing-1,cold-0,...,storm-0,storm-1,tools-0,tools-1,transport-0,transport-1,water-0,water-1,weather_related-0,weather_related-1
0,1,0,1,0,1,0,1,1,0,1,...,1,0,1,0,1,0,1,0,1,0
1,1,0,0,1,1,0,1,1,0,1,...,0,1,1,0,1,0,1,0,0,1
2,1,0,1,0,1,0,1,1,0,1,...,1,0,1,0,1,0,1,0,1,0
3,1,0,0,1,0,1,1,1,0,1,...,1,0,1,0,1,0,1,0,1,0
4,1,0,1,0,1,0,1,1,0,1,...,1,0,1,0,1,0,1,0,1,0

In [8]:
import re
from nltk.tokenize import word_tokenize
categories_features = re.sub(r"[-01;]", " ",disasters.categories[0])
categories_features = word_tokenize(categories_features)

In [9]:
'''rows_disasters_df = disasters_df.shape[0]
for n in range (0,len(categories)):
    column = str(categories[n]+'-1')
    disasters_df[categories[n]] = 0
    for i in range (0, rows_disasters_df):
        if (disasters_df.loc[:,column][i] == 1):
            disasters_df[categories[n]][i] = 1
    disasters_df = disasters_df.drop(columns=[categories[n]+'-1',categories[n]+'-0'])
    
disasters_df.head()'''

"rows_disasters_df = disasters_df.shape[0]\nfor n in range (0,len(categories)):\n    column = str(categories[n]+'-1')\n    disasters_df[categories[n]] = 0\n    for i in range (0, rows_disasters_df):\n        if (disasters_df.loc[:,column][i] == 1):\n            disasters_df[categories[n]][i] = 1\n    disasters_df = disasters_df.drop(columns=[categories[n]+'-1',categories[n]+'-0'])\n    \ndisasters_df.head()"

In [10]:
categories_features

['related',
 'request',
 'offer',
 'aid_related',
 'medical_help',
 'medical_products',
 'search_and_rescue',
 'security',
 'military',
 'child_alone',
 'water',
 'food',
 'shelter',
 'clothing',
 'money',
 'missing_people',
 'refugees',
 'death',
 'other_aid',
 'infrastructure_related',
 'transport',
 'buildings',
 'electricity',
 'tools',
 'hospitals',
 'shops',
 'aid_centers',
 'other_infrastructure',
 'weather_related',
 'floods',
 'storm',
 'fire',
 'earthquake',
 'cold',
 'other_weather',
 'direct_report']

In [11]:
genre = disasters.genre.str.get_dummies()
genre.head()

   direct  news  social
0       1     0       0
1       1     0       0
2       1     0       0
3       1     0       0
4       1     0       0

In [12]:
'''teste = disasters[0:10]
for i in range (0,10):
    teste.categories[i] = re.sub(r"[-0;]", " ",teste.categories[i])

teste'''

'teste = disasters[0:10]\nfor i in range (0,10):\n    teste.categories[i] = re.sub(r"[-0;]", " ",teste.categories[i])\n\nteste'

In [13]:
disasters.head()

,message,genre,categories
0,Weather update - a cold front from Cuba that c...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,Is the Hurricane over or is it not over,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,Looking for someone but no name,direct,related-1;request-0;offer-0;aid_related-0;medi...
3,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,"says: west side of Haiti, rest of the country ...",direct,related-1;request-0;offer-0;aid_related-0;medi...

In [14]:
test = categories_df[0:10].drop(columns=['id'])
test.head()

                                          categories
0  related-1;request-0;offer-0;aid_related-0;medi...
1  related-1;request-0;offer-0;aid_related-1;medi...
2  related-1;request-0;offer-0;aid_related-0;medi...
3  related-1;request-1;offer-0;aid_related-1;medi...
4  related-1;request-0;offer-0;aid_related-0;medi...

In [15]:
features_results = re.sub(r'[a-zA-Z_-]+', '', test.categories[0])
features_results = list(map(int,features_results.split(';')))

features_results[0]

1

In [16]:
categories_features_col = pd.DataFrame(index =range(0,test.shape[0]), columns =categories_features)
test = pd.concat([test,categories_features_col],join='outer',axis=1)

#features_results = re.sub(r'[a-zA-Z_-]+', '', test.categories[0])
#features_results = list(map(int,features_results.split(';')))
#test.loc[0,categories_features[0]] = features_results[0]
     
#test.head()

In [17]:
number_features = len(categories_features)
rows = test.shape[0]

for i in range (0,rows):
    for n in range (0,number_features):
        features_results = re.sub(r'[a-zA-Z_-]+', '', test.categories[i])
        features_results = list(map(int,features_results.split(';')))
        test.loc[i,categories_features[n]] = features_results[n]
    
test.head()

,categories,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,related-1;request-0;offer-0;aid_related-0;medi...,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,related-1;request-0;offer-0;aid_related-1;medi...,1,0,0,1,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,related-1;request-0;offer-0;aid_related-0;medi...,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,related-1;request-1;offer-0;aid_related-1;medi...,1,1,0,1,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,related-1;request-0;offer-0;aid_related-0;medi...,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [18]:
'''for n in range (0,test.shape[0]):
    for i in range (0,len(features)):
        test.loc[n,[categories_features[i]]] = list(map(int,re.sub(r'[a-zA-Z_-]+', '', test.categories[n]).split(';')))[i]


test[0:10]'''

"for n in range (0,test.shape[0]):\n    for i in range (0,len(features)):\n        test.loc[n,[categories_features[i]]] = list(map(int,re.sub(r'[a-zA-Z_-]+', '', test.categories[n]).split(';')))[i]\n\n\ntest[0:10]"

In [19]:
test = test.drop(columns=['categories'])
test.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1,0,0,1,0,0,0,0,0,0,...,0,0,1,0,1,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
#most_missing_cols = set(test.loc[:, test.columns.value_counts().sum() == 0 ])

test.sum(axis=0)

related                   8.0
request                   3.0
offer                     0.0
aid_related               4.0
medical_help              1.0
medical_products          2.0
search_and_rescue         0.0
security                  0.0
military                  0.0
child_alone               0.0
water                     1.0
food                      0.0
shelter                   1.0
clothing                  0.0
money                     0.0
missing_people            0.0
refugees                  0.0
death                     0.0
other_aid                 2.0
infrastructure_related    1.0
transport                 0.0
buildings                 1.0
electricity               0.0
tools                     0.0
hospitals                 1.0
shops                     0.0
aid_centers               0.0
other_infrastructure      0.0
weather_related           2.0
floods                    0.0
storm                     2.0
fire                      0.0
earthquake                0.0
cold                      0.0
other_weather             0.0
direct_report             2.0
dtype: float64

In [21]:
#categories2 = categories_df
#categories_features_col = pd.DataFrame(index =range(0,test.shape[0]), columns =categories_features)
#categories2 = pd.concat([categories2,categories_features_col],join='outer',axis=1)


#categories2.head()

In [22]:
categories2 = categories_df
categories_features_col = pd.DataFrame(index =range(0,test.shape[0]), columns =categories_features)
categories2 = pd.concat([categories2,categories_features_col],join='outer',axis=1)

number_features = len(categories_features)
rows = categories2.shape[0]

for i in range (0,rows):
    features_results = re.sub(r'[a-zA-Z_-]+', '', categories2.loc[i,'categories'])
    features_results = list(map(int,features_results.split(';')))
    for n in range(0,len(categories_features)):
        categories2.loc[i,categories_features[n]] = features_results[n]
        
categories2.head()

KeyboardInterrupt:

In [ ]:
categories2.head()

In [ ]:
categories2 = categories2.drop(columns=['categories'])
categories2.sum(axis=0)